body {
  background: #fffdd0;
  margin: 0%;
  padding: 0%;
  width: auto;
  background-image: linear-gradient(to bottom right, white, #fffdd0); 
}
p {
  margin: 0;
}

#logo {
  width: 6em;
  height: 6em;
  border: 0em solid #fffdd0;
  border-radius: 3.5em;

}

h1#sitename {
  font-size: 4em;
  color: white;
  position: relative;
  left: 1.12em;
  top: -2em;
  width: 3em;
}

.top {
  height: 8em;
  padding: 2em 3em 0em 8.5em;
  background: #c08142;

}

.top > .menu {
  position: relative;
  display: inline-block;
  position: relative;
  left: 58em;
  top: -16em;
}

.topOptions{
  margin: 2em 0 2em 0;
}

 #buttonSignin, #buttonSignup, button {
  width: auto;
  height: auto;
  color: white;
  font-size: 0.8em;
  background: brown;
  border: 0.6em brown solid;
  border-radius: 1em;
  text-align: center;
  font-weight: bold;

}

#buttonSignin:hover, #buttonSignup:hover, button:hover {
  width: auto;
  height: auto;
  color: brown;
  font-size: 0.8em;
  background: white;
  border: 0.6em white solid;
  border-radius: 1em;
  text-align: center;
  font-weight: bold;

}

.main {
  position: relative;
  left: 10%;
  width: 80%;
  height: 90em;
  font-size: 1.1em;
}

.textsOne, .textsTwo {
  font-size: 1.1em;
}

.aristotelesFrase{
  height: 11em;
}

.aristotelesFrase  #aristotelesPhoto {
  width: 10em;
  height: 10em;
  border: 1px gray solid;
  border-radius: 5em;
  position: relative;
  left: 50em;
  top: -4.7em;
}

#aristotelesFrase1 {
  position: relative;
  top: 2em;
  left: 2em;
  width: 30em;
  height: auto;
  font-size: 1.5em;
}

#aristotelesName {
  position: relative;
  left: 25em;
  top: 3em;
  width: 5em;
}

.jungFrase {
  height: 11em;

}

.jungFrase  #jungPhoto{
  width: 10em;
  height: 10em;
  border: 1px gray solid;
  border-radius: 5em;
  position: relative;
  left: 2em;
  top: -4.7em;

}

#jungFrase1 {
  position: relative;
  top: 2em;
  left: 10em;
  width: 30em;
  height: auto;
  font-size: 1.5em;
}

#jungName {
  position: relative;
  left: 32em;
  top: 3.8em;
  width: 10em;

}

.options > button {
  text-decoration: none;
  width: auto;
  height: auto;
  color: white;
  font-size: 0.8em;
  background: brown;
  border: 0.6em brown solid;
  border-radius: 1em;
  position: relative;
  left: 5em;
  top: 1em;
  text-align: center;
}

.options > button:hover {
  text-decoration: none;
  width: auto;
  height: auto;
  color: brown;
  font-size: 0.8em;
  background: white;
  border: 0.6em white solid;
  border-radius: 3em;
  position: relative;
  left: 5em;
  top: 1em;
  text-align: center;
}

.rodape {
  height: 8em;
  width: auto;
  background: #dcdcdc;
  padding: 1em;
  padding-top: 2em;
  text-align: center;
  box-shadow: inset 0 0 2px gray;
}

/*Signin Screen*/
.allSignin {
  padding: 2em 4em 8em 2em;
  width: auto;
  height: auto;
  background-image: linear-gradient(to top left, #c081425d, #c08142);

}

.signin > h1 {
  position: relative;
  top: 1.2em;
  text-align: center;
}

.signin {
  border-radius: 0.5em;
  box-shadow: 0 0 3px gray;
  width: 25em;
  height: 22em;
  position: relative;
  left: 35%;
  top: -4em;
  background: white;

}

.signin > .loginDatas {
  position: relative;
  left: 0.75em;
  top: 2.5em;
  padding: 0 0 0 0;
}


/*Signup Screen*/
.allSignup {
  padding: 2em 3.1em 0em 2em;
  background-image: linear-gradient(to top left, #c081425d, #c08142);

}

#logoSignup {
  width: 3em;
  height: 3em;
  border-radius: 2em;
}

#sitenameSignup {
  position: relative;
  left: 1.2em;
  top: -2.1em;
  color: white;
}

section > h1 {
  position: relative;
  top: 0.5em;
  left: 0.25em;
  font-size: 2.2em;
  text-align: left;
  color: brown;
}

section p {
  font-weight: normal;
}

section {
  border-radius: 0.5em;
  width: 25em;
  height: 32em;
  position: relative;
  left: 35%;
  top: -5.5em;
  background: white;
  box-shadow: 0 0 3px gray;
  padding: 0 0 1em 0;
}

.loginDatas > input {
  width: 23em;
  height: 2em;
  border: 1px gray solid;
  border-radius: 0.2em;
  font-size: 1em;
}
.loginDatas p {
  margin: 1.5em 0 0 0;
}
.loginDatas {
  position: relative;
  left: 0.75em;
  top: 2em;

}

.loginDatas > button {
  position: relative;
  left: 0em;
  top: 2em;
  font-size: 1em;
  color: white;
  border: 0.5em solid brown;
  background: brown;
  border-radius: 1em;
  width: 23.5em;
  height: auto;
  text-align: center;
}

.loginDatas > button:hover {
  border: 0.5em solid white;
  background: white;
  color: brown;

}

#loginFromCad {
  position: relative;
  top: 1.5em;
  text-align: center;
}

.allSignin  p#forgot {
  position: relative;
  top: 1em;
  font-size: 0.9em;
  text-align: center;
}

/*Vocacional Test*/ 

.topVocacionalTest{
  background: #c08142;
  padding: 2em;
  height: 3em;
}

.asksField {
  border-radius: 0.5em;
  box-shadow: 0 0 3px gray;
  width: 50em;
  height: 115em;
  position: relative;
  left: 16%;
  top: -4em;
  background: white;
  padding: 4em 3em 4em 3em;
  font-weight: bold;
}

#yes {
  color: green;
}

#no {
  color: brown;
}

#vocacionalTestResult {
  position: relative;
  left: 18.8em;
  top: 4em;
  font-size: 1em;
  text-align: center;

}

#yes {
  float: right;
  position: relative;
  top: -1.1em;
}

#no{
  float: right;
  position: relative;
  top: -1.1em;
}


hr{
  background-color: bisque;
}

#test {
  color: brown;
}

#test {
  text-align: center;
}

#apres {
  text-align: center;
  font-weight: lighter;
  color: rgb(100, 100, 100);
  
}